@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 32px;
  margin: 0 auto;

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 50%;
    border: 6px solid;
    border-color: #807b7b transparent #807b7b transparent;
    animation: 1s rotate infinite;
  }
}
