.TabMenus {
  .container {
    border: 1px solid #ccc;
  }
  .tabList {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ccc;
  }

  .tab {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    & + .tab {
      border-left: 1px solid #ccc;
    }
    &.current {
      background-color: #bde;
    }
  }
  .description {
    padding: 0 15px 15px;
  }

  .tab2 .description {
    &.current {
      display: block;
    }

    display: none;
  }

  .tabMenu3 {
    position: relative;
    .item {
      list-style: none;
      padding: 0;
      margin: 0;

      &.current .tab {
        background-color: #bde;
      }
      .description {
        display: none;
        padding: 0 15px 15px;
        padding-top: 65px;
      }
      &.current .description {
        display: block;
      }
      &:nth-child(1) .tab {
        left: 0%;
      }
      &:nth-child(2) .tab {
        left: 25%;
      }
      &:nth-child(3) .tab {
        left: 50%;
      }
      &:nth-child(4) .tab {
        left: 75%;
      }
      .tab {
        border-left: 1px solid #ccc;
        position: absolute;
        top: 0;
        width: 25%;
        box-sizing: border-box;
        padding: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
  }

  .tabMenu5 {
    position: relative;
    .item {
      list-style: none;
      padding: 0;
      margin: 0;

      .description {
        display: none;
        padding: 0 15px 15px;
        padding-top: 65px;
      }

      &:nth-child(1) .tab {
        left: 0%;
      }
      &:nth-child(2) .tab {
        left: 25%;
      }
      &:nth-child(3) .tab {
        left: 50%;
      }
      &:nth-child(4) .tab {
        left: 75%;
      }
      .input {
        display: none;
        &:checked {
          + .tab {
            background-color: #bde;
          }
          ~ .description {
            display: block;
          }
        }
      }
      .tab {
        border-left: 1px solid #ccc;
        position: absolute;
        top: 0;
        width: 25%;
        box-sizing: border-box;
        padding: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
  }
}
